<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <!-- 모든 환경에서 사용할 공통 프로퍼티 설정 -->
    <property resource="application.yml"/>
    <springProperty name="DISCORD_WEBHOOK_URL" source="logging.discord.webhook-url"/>

    <!-- DISCORD Appender 설정 -->
    <appender name="DISCORD" class="com.github.napstr.logback.DiscordAppender">
        <webhookUri>${DISCORD_WEBHOOK_URL}</webhookUri>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{HH:mm:ss} [%thread] [%-5level] %logger{36} - %msg%n```%ex{full}```</pattern>
        </layout>
        <username>감자들아...에러 났대...</username>
        <avatarUrl>https://jjal.today/data/file/gallery/1889155643_NZHvkRLz_e0292b65bb682075bfdb752a4d8f4062f0b7738a.png</avatarUrl>
        <tts>false</tts>
    </appender>

    <!-- Console Appender 설정 -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>${CONSOLE_LOG_PATTERN}</Pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <!-- 비동기 DISCORD Appender 설정 -->
    <appender name="ASYNC_DISCORD" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="DISCORD"/>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>

    <!-- 루트 로거 설정: INFO 레벨 이상의 로그를 출력 -->
    <root level="INFO">
        <appender-ref ref="ASYNC_DISCORD"/>
        <appender-ref ref="Console"/>
    </root>
</configuration>
